<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer dashboard</title>
</head>
<body>
<h1>Choose your business</h1>
<ul>
  <li><a th:href="@{/customer/browse-available-workspaces}">Browse available spaces<a/></li>
  <li><a th:href="@{/customer/make-reservation-form}">Make a reservation<a/></li>
  <li><a th:href="@{/customer/view-my-reservations-form}">View my reservations</a></li>
  <li><a th:href="@{/customer/cancel-my-reservation-form}">Cancel a reservation</a></li>
</ul>
</body>
</html>